.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/**/*.o
src/**/*.so
src/**/*.dll
.Rapp.history
.DS_Store
autom4te.cache
config.log
config.status
docs/*
README_cache/
launch.json
tasks.json
compile_commands.json
.cache
*.asm
docs
