.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
src/*.o
src/*.so
src/*.dll
src/**/*.o
src/**/*.so
src/**/*.dll
.Rapp.history
.DS_Store
autom4te.cache
config.log
config.status
README_cache/
launch.json
tasks.json
compile_commands.json
.cache
*.asm
/.quarto/
cache/*
src/Makevars
.codex:/
docs/reference/add_object-1.png
docs/reference/add_object.html
docs/reference/add_points_polygon.html
docs/reference/animate_objects-1.png
docs/reference/animate_objects-2.png
docs/reference/animate_objects-3.png
docs/reference/animate_objects-4.png
docs/reference/animate_objects-5.png
docs/reference/animate_objects-6.png
docs/reference/animate_objects-7.png
docs/reference/animate_objects.html
docs/reference/arrow-1.png
docs/reference/arrow-2.png
docs/reference/arrow-3.png
docs/reference/arrow-4.png
docs/reference/arrow-5.png
docs/reference/arrow.html
docs/reference/bezier_curve-1.png
docs/reference/bezier_curve-2.png
docs/reference/bezier_curve-3.png
docs/reference/bezier_curve-4.png
docs/reference/bezier_curve-5.png
docs/reference/bezier_curve.html
docs/reference/calculate_control_points_straight.html
docs/reference/calculate_control_points.html
docs/reference/calculate_distance_along_bezier_curve.html
docs/reference/calculate_final_path.html
docs/reference/calculate_final_twist.html
docs/reference/check_image_texture.html
docs/reference/clamp.html
docs/reference/cone-1.png
docs/reference/cone-2.png
docs/reference/cone-3.png
docs/reference/cone-4.png
docs/reference/cone-5.png
docs/reference/cone.html
docs/reference/convert_color.html
docs/reference/create_instances-1.png
docs/reference/create_instances-2.png
docs/reference/create_instances-3.png
docs/reference/create_instances-4.png
docs/reference/create_instances-5.png
docs/reference/create_instances-6.png
docs/reference/create_instances.html
docs/reference/cross_prod.html
docs/reference/csg_box-1.png
docs/reference/csg_box-2.png
docs/reference/csg_box-3.png
docs/reference/csg_box.html
docs/reference/csg_capsule-1.png
docs/reference/csg_capsule-2.png
docs/reference/csg_capsule-3.png
docs/reference/csg_capsule-4.png
docs/reference/csg_capsule.html
docs/reference/csg_combine-1.png
docs/reference/csg_combine-2.png
docs/reference/csg_combine-3.png
docs/reference/csg_combine-4.png
docs/reference/csg_combine-5.png
docs/reference/csg_combine-6.png
docs/reference/csg_combine-7.png
docs/reference/csg_combine-8.png
docs/reference/csg_combine.html
docs/reference/csg_cone-1.png
docs/reference/csg_cone-2.png
docs/reference/csg_cone-3.png
docs/reference/csg_cone-4.png
docs/reference/csg_cone.html
docs/reference/csg_cylinder-1.png
docs/reference/csg_cylinder-2.png
docs/reference/csg_cylinder-3.png
docs/reference/csg_cylinder-4.png
docs/reference/csg_cylinder.html
docs/reference/csg_ellipsoid-1.png
docs/reference/csg_ellipsoid-2.png
docs/reference/csg_ellipsoid-3.png
docs/reference/csg_ellipsoid-4.png
docs/reference/csg_ellipsoid.html
docs/reference/csg_elongate-1.png
docs/reference/csg_elongate-2.png
docs/reference/csg_elongate-3.png
docs/reference/csg_elongate-4.png
docs/reference/csg_elongate-5.png
docs/reference/csg_elongate.html
docs/reference/csg_group-1.png
docs/reference/csg_group.html
docs/reference/csg_object-1.png
docs/reference/csg_object-2.png
docs/reference/csg_object-3.png
docs/reference/csg_object.html
docs/reference/csg_onion-1.png
docs/reference/csg_onion-2.png
docs/reference/csg_onion-3.png
docs/reference/csg_onion-4.png
docs/reference/csg_onion.html
docs/reference/csg_plane-1.png
docs/reference/csg_plane-2.png
docs/reference/csg_plane-3.png
docs/reference/csg_plane.html
docs/reference/csg_pyramid-1.png
docs/reference/csg_pyramid-2.png
docs/reference/csg_pyramid-3.png
docs/reference/csg_pyramid.html
docs/reference/csg_rotate-1.png
docs/reference/csg_rotate-2.png
docs/reference/csg_rotate.html
docs/reference/csg_round-1.png
docs/reference/csg_round-2.png
docs/reference/csg_round.html
docs/reference/csg_rounded_cone-1.png
docs/reference/csg_rounded_cone-2.png
docs/reference/csg_rounded_cone-3.png
docs/reference/csg_rounded_cone-4.png
docs/reference/csg_rounded_cone.html
docs/reference/csg_scale-1.png
docs/reference/csg_scale.html
docs/reference/csg_sphere-1.png
docs/reference/csg_sphere-2.png
docs/reference/csg_sphere-3.png
docs/reference/csg_sphere-4.png
docs/reference/csg_sphere-5.png
docs/reference/csg_sphere.html
docs/reference/csg_torus-1.png
docs/reference/csg_torus-2.png
docs/reference/csg_torus-3.png
docs/reference/csg_torus-4.png
docs/reference/csg_torus.html
docs/reference/csg_translate-1.png
docs/reference/csg_translate-2.png
docs/reference/csg_translate.html
docs/reference/csg_triangle-1.png
docs/reference/csg_triangle-2.png
docs/reference/csg_triangle-3.png
docs/reference/csg_triangle.html
docs/reference/cube-1.png
docs/reference/cube-2.png
docs/reference/cube-3.png
docs/reference/cube.html
docs/reference/cubicInOut.html
docs/reference/cylinder-1.png
docs/reference/cylinder-2.png
docs/reference/cylinder-3.png
docs/reference/cylinder.html
docs/reference/dielectric-1.png
docs/reference/dielectric-2.png
docs/reference/dielectric-3.png
docs/reference/dielectric-4.png
docs/reference/dielectric-5.png
docs/reference/dielectric-6.png
docs/reference/dielectric-7.png
docs/reference/dielectric.html
docs/reference/diffuse-1.png
docs/reference/diffuse-2.png
docs/reference/diffuse-3.png
docs/reference/diffuse-4.png
docs/reference/diffuse-5.png
docs/reference/diffuse.html
docs/reference/disk-1.png
docs/reference/disk-2.png
docs/reference/disk-3.png
docs/reference/disk.html
docs/reference/ellipsoid-1.png
docs/reference/ellipsoid-2.png
docs/reference/ellipsoid-3.png
docs/reference/ellipsoid.html
docs/reference/eval_bezier_2nd_deriv.html
docs/reference/eval_bezier_deriv.html
docs/reference/eval_bezier.html
docs/reference/expInOut.html
docs/reference/extruded_path-1.png
docs/reference/extruded_path-2.png
docs/reference/extruded_path-3.png
docs/reference/extruded_path-4.png
docs/reference/extruded_path-5.png
docs/reference/extruded_path-6.png
docs/reference/extruded_path-7.png
docs/reference/extruded_path-8.png
docs/reference/extruded_path-9.png
docs/reference/extruded_path-10.png
docs/reference/extruded_path-11.png
docs/reference/extruded_path.html
docs/reference/extruded_polygon-1.png
docs/reference/extruded_polygon-2.png
docs/reference/extruded_polygon-3.png
docs/reference/extruded_polygon-4.png
docs/reference/extruded_polygon-5.png
docs/reference/extruded_polygon-6.png
docs/reference/extruded_polygon-7.png
docs/reference/extruded_polygon.html
docs/reference/fliplr.html
docs/reference/flipud.html
docs/reference/generate_camera_motion-1.png
docs/reference/generate_camera_motion-2.png
docs/reference/generate_camera_motion-3.png
docs/reference/generate_camera_motion-4.png
docs/reference/generate_camera_motion-5.png
docs/reference/generate_camera_motion-6.png
docs/reference/generate_camera_motion-7.png
docs/reference/generate_camera_motion-8.png
docs/reference/generate_camera_motion-9.png
docs/reference/generate_camera_motion-10.png
docs/reference/generate_camera_motion-11.png
docs/reference/generate_camera_motion-12.png
docs/reference/generate_camera_motion-13.png
docs/reference/generate_camera_motion-14.png
docs/reference/generate_camera_motion-15.png
docs/reference/generate_camera_motion.html
docs/reference/generate_cornell-1.png
docs/reference/generate_cornell-2.png
docs/reference/generate_cornell-3.png
docs/reference/generate_cornell-4.png
docs/reference/generate_cornell-5.png
docs/reference/generate_cornell.html
docs/reference/generate_ground-1.png
docs/reference/generate_ground-2.png
docs/reference/generate_ground.html
docs/reference/generate_rotation_matrix.html
docs/reference/generate_studio-1.png
docs/reference/generate_studio-2.png
docs/reference/generate_studio.html
docs/reference/generate_translation_matrix.html
docs/reference/get_material_enum.html
docs/reference/get_material_name.html
docs/reference/get_saved_keyframes.html
docs/reference/get_time.html
docs/reference/glossy-1.png
docs/reference/glossy-2.png
docs/reference/glossy-3.png
docs/reference/glossy-4.png
docs/reference/glossy-5.png
docs/reference/glossy.html
docs/reference/group_objects-1.png
docs/reference/group_objects-2.png
docs/reference/group_objects-3.png
docs/reference/group_objects-4.png
docs/reference/group_objects-5.png
docs/reference/group_objects.html
docs/reference/hair-1.png
docs/reference/hair-2.png
docs/reference/hair.html
docs/reference/has_denoiser.html
docs/reference/index.html
docs/reference/init_time.html
docs/reference/is_rendering_in_knitr.html
docs/reference/lambertian-1.png
docs/reference/lambertian.html
docs/reference/lerp.html
docs/reference/light-1.png
docs/reference/light-2.png
docs/reference/light-3.png
docs/reference/light.html
docs/reference/mesh3d_model-1.png
docs/reference/mesh3d_model.html
docs/reference/metal-1.png
docs/reference/metal-2.png
docs/reference/metal-3.png
docs/reference/metal-4.png
docs/reference/metal.html
docs/reference/microfacet-1.png
docs/reference/microfacet-2.png
docs/reference/microfacet-3.png
docs/reference/microfacet-4.png
docs/reference/microfacet-5.png
docs/reference/microfacet.html
docs/reference/new_tibble_row.html
docs/reference/obj_model-1.png
docs/reference/obj_model-2.png
docs/reference/obj_model-3.png
docs/reference/obj_model.html
docs/reference/path-1.png
docs/reference/path-2.png
docs/reference/path-3.png
docs/reference/path-4.png
docs/reference/path-5.png
docs/reference/path-6.png
docs/reference/path-7.png
docs/reference/path-8.png
docs/reference/path.html
docs/reference/pig-1.png
docs/reference/pig-2.png
docs/reference/pig-3.png
docs/reference/pig-4.png
docs/reference/pig.html
docs/reference/pipe.html
docs/reference/ply_model.html
docs/reference/post_process_frame.html
docs/reference/post_process_scene.html
docs/reference/prepare_scene_list.html
docs/reference/print_time.html
docs/reference/process_point_series_1d.html
docs/reference/process_point_series_2d.html
docs/reference/process_point_series.html
docs/reference/process_scene.html
docs/reference/quadInOut.html
docs/reference/r_obj-1.png
docs/reference/r_obj.html
docs/reference/ray_animated_transform.html
docs/reference/ray_material.html
docs/reference/ray_scene.html
docs/reference/ray_shape_info.html
docs/reference/ray_transform.html
docs/reference/raymesh_model-1.png
docs/reference/raymesh_model-2.png
docs/reference/raymesh_model-3.png
docs/reference/raymesh_model-4.png
docs/reference/raymesh_model-5.png
docs/reference/raymesh_model.html
docs/reference/render_animation-1.png
docs/reference/render_animation-2.png
docs/reference/render_animation-3.png
docs/reference/render_animation-4.png
docs/reference/render_animation-5.png
docs/reference/render_animation-6.png
docs/reference/render_animation-7.png
docs/reference/render_animation-8.png
docs/reference/render_animation-9.png
docs/reference/render_animation-10.png
docs/reference/render_animation-11.png
docs/reference/render_animation-12.png
docs/reference/render_animation-13.png
docs/reference/render_animation-14.png
docs/reference/render_animation-15.png
docs/reference/render_animation.html
docs/reference/render_ao-1.png
docs/reference/render_ao.html
docs/reference/render_preview-1.png
docs/reference/render_preview-2.png
docs/reference/render_preview-3.png
docs/reference/render_preview.html
docs/reference/render_scene-1.png
docs/reference/render_scene-2.png
docs/reference/render_scene-3.png
docs/reference/render_scene-4.png
docs/reference/render_scene-5.png
docs/reference/render_scene-6.png
docs/reference/render_scene-7.png
docs/reference/render_scene-8.png
docs/reference/render_scene-9.png
docs/reference/render_scene-10.png
docs/reference/render_scene-11.png
docs/reference/render_scene-12.png
docs/reference/render_scene-13.png
docs/reference/render_scene-14.png
docs/reference/render_scene-15.png
docs/reference/render_scene-16.png
docs/reference/render_scene-17.png
docs/reference/render_scene-18.png
docs/reference/render_scene-19.png
docs/reference/render_scene-20.png
docs/reference/render_scene-21.png
docs/reference/render_scene-22.png
docs/reference/render_scene-23.png
docs/reference/render_scene-24.png
docs/reference/render_scene-25.png
docs/reference/render_scene-26.png
docs/reference/render_scene-27.png
docs/reference/render_scene-28.png
docs/reference/render_scene-29.png
docs/reference/render_scene-30.png
docs/reference/render_scene-31.png
docs/reference/render_scene-32.png
docs/reference/render_scene-33.png
docs/reference/render_scene-34.png
docs/reference/render_scene-35.png
docs/reference/render_scene-36.png
docs/reference/render_scene-37.png
docs/reference/render_scene-38.png
docs/reference/render_scene-39.png
docs/reference/render_scene-40.png
docs/reference/render_scene.html
docs/reference/RotateAxis.html
docs/reference/RotateX.html
docs/reference/RotateY.html
docs/reference/RotateZ.html
docs/reference/run_documentation.html
docs/reference/screen_line-1.png
docs/reference/screen_line.html
docs/reference/screen_text-1.png
docs/reference/screen_text.html
docs/reference/segment-1.png
docs/reference/segment-2.png
docs/reference/segment-3.png
docs/reference/segment-4.png
docs/reference/segment.html
docs/reference/set_scene_material.html
docs/reference/slerp.html
docs/reference/sphere-1.png
docs/reference/sphere-2.png
docs/reference/sphere.html
docs/reference/text3d-1.png
docs/reference/text3d-2.png
docs/reference/text3d-3.png
docs/reference/text3d-4.png
docs/reference/text3d-5.png
docs/reference/text3d.html
docs/reference/triangle-1.png
docs/reference/triangle-2.png
docs/reference/triangle.html
docs/reference/tween.html
docs/reference/xy_rect-1.png
docs/reference/xy_rect-2.png
docs/reference/xy_rect.html
docs/reference/xz_rect-1.png
docs/reference/xz_rect-2.png
docs/reference/xz_rect.html
docs/reference/yz_rect-1.png
docs/reference/yz_rect-2.png
docs/reference/yz_rect.html
docs/reference/figures/rayrendersmall.jpg
docs/reference/figures/README_basic_sphere-1.png
docs/reference/figures/README_basic-1.png
docs/reference/figures/README_ground_grid-1.png
docs/reference/figures/README_ground_grid-2.png
docs/reference/figures/README_ground_grid-3.png
docs/reference/figures/README_ground_grid-4.png
docs/reference/figures/README_ground_grid-5.png
docs/reference/figures/README_ground_r_lorenz-1.png
docs/reference/figures/README_ground_r_path-1.png
docs/reference/figures/README_ground_r-1.png
docs/reference/figures/README_ground_sphere-1.png
docs/reference/figures/README_ground-1.png
docs/reference/figures/README_hdr-1.png
docs/reference/figures/README_r_extruded_path-1.png
docs/reference/figures/README_r_extruded_path-2.png
docs/reference/figures/swordsmall.gif
docs/reference/figures/unnamed-chunk-1-1.png
docs/reference/figures/website_rayrender.jpg
docs/404.html
docs/AGENT.html
docs/AGENTS.html
docs/authors.html
docs/bootstrap-toc.css
docs/bootstrap-toc.js
docs/CLAUDE.html
docs/CODE_OF_CONDUCT.html
docs/CONTRIBUTING.html
docs/docsearch.css
docs/docsearch.js
docs/index.html
docs/link.svg
docs/pkgdown.css
docs/pkgdown.js
docs/pkgdown.yml
docs/sitemap.xml
