.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
src/*.o
src/*.so
src/*.dll
src/**/*.o
src/**/*.so
src/**/*.dll
.Rapp.history
.DS_Store
autom4te.cache
config.log
config.status
docs/*
README_cache/
launch.json
tasks.json
compile_commands.json
.cache
*.asm
docs
/.quarto/
cache/*
src/Makevars
.codex:/
.codex/
.codex-sccache/
.sccache-*/
.vscode/*
*.png
*.exr
*.pdf
*.txt
tools/codex/
inst/examples/
inst/doc/
tools/build-pig-assets.R
revdep/
skiing-pig-loop/skiing-pig-loop.mp4
skiing-pig-loop/skipig.mp4
